.pattern {
  display: inline-block;
  position: relative;
}

.pattern.pattern--is-shifted {
  padding-left: 0.5em;
}

.pattern__row {
  display: flex;
}

.pattern--is-shifted .pattern__row {
  margin-left: 0.5em;
}

.pattern--is-shifted .pattern__row.pattern__row--left {
  margin-left: -0.5em;
}

.pattern__cell {
  border-radius: 0;
  border: 1px solid black;
  width: 2em;
  height: 3em;
  margin: 0;
  padding: 0;
}

.pattern__image-overlay {
  width: 100%;
  height: 100%;
}

.pattern__image-overlay-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pattern__image-overlay-container--transform-disabled {
  pointer-events: none;
}

.pattern__image-overlay-transform-wrapper {
  width: 100% !important;
  height: 100% !important;
}
