.pattern {
}

.pattern--row {
  display: flex;
}

.pattern__is-shifted .pattern--row:nth-child(odd) {
  margin-left: -0.25em;
}

.pattern__is-shifted .pattern--row:nth-child(even) {
  margin-left: 0.25em;
}

.pattern--cell {
  border-radius: 0;
  border: 1px solid black;
  width: 1em;
  height: 2em;
  margin: 0;
  padding: 0;
}

.palette-selector {
  display: flex;
}
