.pattern {
  border: 1px solid black;
}

.pattern--row {
  display: flex;
}

.pattern--cell {
  border-radius: 0;
  border: 1px solid black;
  width: 1em;
  height: 2em;
}

.palette-selector {
  display: flex;
}
